################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/ConsoleApplication1/App.config
/ConsoleApplication1/ConsoleApplication1.csproj
/ConsoleApplication1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ConsoleApplication1/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/ConsoleApplication1/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/ConsoleApplication1/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/ConsoleApplication1/Program.cs
/ConsoleApplication1/Properties/AssemblyInfo.cs
/Projekt/App.config
/Projekt/bin/Debug/Projekt.exe
/Projekt/bin/Debug/Projekt.exe.config
/Projekt/bin/Debug/Projekt.pdb
/Projekt/bin/Debug/Projekt.vshost.exe
/Projekt/bin/Debug/Projekt.vshost.exe.config
/Projekt/bin/Debug/Projekt.vshost.exe.manifest
/Projekt/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Projekt/obj/Debug/Projekt.csproj.FileListAbsolute.txt
/Projekt/obj/Debug/Projekt.csprojResolveAssemblyReference.cache
/Projekt/obj/Debug/Projekt.exe
/Projekt/obj/Debug/Projekt.pdb
/Projekt/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Projekt/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Projekt/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Projekt/Projekt.csproj
/Projekt/Projekt.sln
/Projekt/Projekt.v12.suo
/Projekt/Properties/AssemblyInfo.cs
